
        <form  class="form-inline " asp-action="Search" asp-controller="Listing" method="Post">
            <input class="form-control" type="text" name="searchContent">
            <select class="form-control" name="categoryContent">
                <option value="Name">Name</option>
                <option value="Category">Category</option>
                <option value="City">City</option>
            </select>
            <button class="btn btn-default" type="submit">Search</button>
        </form>
